/* Import the Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

/* General Styles */
body {
  background: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif; /* Apply Montserrat font */
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  overflow-y: auto;
}

/* Content Container */
.content {
  scroll-behavior: smooth;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 80px;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  box-sizing: border-box;
  background-image: url("../assets/heroImage.jpeg");
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Cart Section Styles */
.order-cart {
  background-color: #6b6b6bf6;
  padding: 7vh;
  margin: 0;
  width: 50%;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

/* Summary Section Styles */
.order-summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  width: 50%;
  color: rgb(65, 65, 65);
}

/* Main Row Styles */
.order-main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.order-row {
  margin: 0;
}

.order-col-2,
.order-col {
  padding: 0 1vh;
}

.order-title b {
  font-size: 1.5rem;
}

.order-close {
  margin-left: auto;
  font-size: 0.7rem;
  cursor: pointer;
  color: black;
}

.order-back-to-shop {
  margin-top: 4.5rem;
}

.order-back-to-shop a {
  padding: 0 1vh;
}

h5 {
  margin-top: 4vh;
  font-size: large;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select,
input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.order-btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  cursor: pointer;
  border-radius: 50px;
}

.order-btn:focus {
  box-shadow: none;
  outline: none;
  color: white;
}

.order-btn:hover {
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#order-code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

@media (max-width: 767px) {
  .content {
    flex-direction: column;
    padding: 20px;
  }

  .order-cart {
    padding: 4vh;
    width: 100%;
    border-radius: 0;
  }

  .order-summary {
    padding: 4vh;
    width: 100%;
    border-radius: 0;
  }
}
