.about-container {
    position: relative;
    padding: 2rem 0;
    background-color: #000; /* Background color if needed */
  }
  
  .about-overlay {
    position: absolute;
    inset: 0;
  }
  
  .about-overlay img {
    width: 100%; /* Adjust width and height as needed */
    height: auto;
    z-index: 0;
  }
  
  .about-content {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Ensure it wraps on smaller screens */
  }
  
  .about-content_about,
  .about-content_history,
  .about-content_knife {
    flex: 1;
    margin: 1rem;
    text-align: center;
  }
  
  .about-content_knife {
    margin: 2rem;
  }
  
  .about-content_knife img {
    max-width: 100%; /* Ensure the image fits within its container */
    height: auto;
  }
  
  .heading {
    font-family: 'Cormorant', serif; /* Replace with actual font-family */
    color: #fff; /* White color */
    font-size: 32px;
    margin-bottom: 1rem;
  }
  
  .paragraph {
    color: #fff; /* White color */
    margin: 2rem 0;
  }
  
  .button {
    background-color: #333; /* Replace with actual button color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #555; /* Button hover color */
  }
  
  @media screen and (max-width: 900px) {
    .about-content {
      flex-direction: column;
    }
  
    .about-content_knife {
      margin: 2rem 0;
    }
  }
  
  @media screen and (max-width: 650px) {
    .about-overlay img {
      width: 80%;
      height: auto;
    }
  }