/* src/pages/transactions/transactions.css */
.transactions {
    flex: 4;
    padding: 20px;
  }
  
  .transactionsTitle {
    font-size: 24px;
    font-weight: 600;
  }
  
  .transactionsTableContainer {
    margin-top: 20px;
    overflow-x: auto;
  }
  
  .transactionsTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transactionsTable th,
  .transactionsTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .transactionsTable th {
    background-color: #f4f4f4;
    text-align: left;
  }
  