body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

.wrapper {
  width: 100%;
  height: calc(100vh - 60px); /* Adjust height to leave space for the navbar */
  margin-top: 60px; /* Space for the navbar, adjust as needed */
  background-image: url('../../assets/login.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  font-family: 'Montserrat', sans-serif;

}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: #fff;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 100%;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  padding: 10px 0;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* Ensure the form stays responsive */
@media (max-width: 768px) {
  .wrapper {
    padding: 20px 30px;
  }

  .wrapper h1 {
    font-size: 28px;
  }

  .input-box {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 15px 20px;
  }

  .wrapper h1 {
    font-size: 24px;
  }

  .input-box {
    margin: 15px 0;
  }
}
